extends ./layaout/index

block slider 
    .slider 
        h1 Río de Janeiro
        em Aventura 
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Nosotros 
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut purus sed ligula blandit auctor sit amet vel ligula. Sed erat enim, tempus at enim eget, interdum suscipit diam. Donec ac est arcu. Nulla pellentesque blandit.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut purus sed ligula blandit auctor sit amet vel ligula. Sed erat enim, tempus at enim eget, interdum suscipit diam. Donec ac est arcu. Nulla pellentesque blandit.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        include ./layaout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6
                    .contenido
                        h3 10% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2.500 USD
    .container
        h2.mt-5.text-center Comentarios
            include ./layaout/bloque_comentarios