extends ./layaout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum pellentesque diam. Duis volutpat aliquam eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent eu tristique nibh. Curabitur pulvinar elit sapien. Nunc sed turpis aliquet, pretium quam et, pellentesque mi. Praesent id accumsan mi, tempus semper orci.
                p Mauris et luctus enim. Praesent at egestas ante. Suspendisse potenti. Duis vel fringilla dui. Maecenas malesuada felis non lorem hendrerit pulvinar vel at elit. Vestibulum non felis maximus metus consequat elementum. Duis felis felis, convallis a sem sit amet, venenatis luctus felis. Morbi sit amet maximus tortor. Sed at rhoncus nulla, eu porta nibh. Morbi congue finibus ullamcorper. Sed non.
                p Vestibulum pharetra in quam sit amet varius. Donec non leo viverra, ultricies nibh at, faucibus nulla. Phasellus et neque sit amet nisl luctus suscipit eget tempus odio. Donec semper fringilla nibh sit.
    .listado-iconos
        .container.mt-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4 mt-4")
                    h2.mb-4 Seguridad
                    p Vestibulum pharetra in quam sit amet varius. Donec non leo viverra, ultricies nibh at. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4 mt-4")
                    h2.mb-4 Los Mejores Destinos
                    p Vestibulum pharetra in quam sit amet varius. Donec non leo viverra, ultricies nibh at. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4 mt-4")
                    h2.mb-4 Precios Más Bajos
                    p Vestibulum pharetra in quam sit amet varius. Donec non leo viverra, ultricies nibh at. 
