header
    .navegacion
        .container
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4
                .col-md-2.col-6
                    a(href="http://localhost:4000")
                        img(src="/img/logo.svg", alt="sitio logo")
                .col-15
                    nav.mt-md-0.nav.justify-content-center.justify-content-md-end
                        a.nav-link(href="/") Inicio 
                        a.nav-link(href="/nosotros") Nosotros
                        a.nav-link(href="/viajes") Viajes
                        a.nav-link(href="/comentarios") Comentarios